.button {
    display: inline-block;
    /*width: 45px;*/
    /*height: 20px;*/
    border: rgba(216, 114, 3, 0.52) 2px solid;
    border-radius: 7px;
    background: linear-gradient(45deg,beige,bisque,blanchedalmond);
    filter:blur(0,5px);
    transition: background 1s, box-shadow 3s ease;
    cursor: pointer;
    font-size: 32px;
    padding: 6px 8px;
    box-shadow: 10px 10px #383a42;
    width: 100px;
    /*transition: width 2s;*/
}

.button::before{
    background: linear-gradient(45deg,blanchedalmond,bisque,beige);
}

.button:hover {
    border: #dadbdd 2px solid;
    background: #ffc271;
    box-shadow: 1px 1px #383a42;
}

.button:active {
    background: #b36700;
}